@tailwind base;
@tailwind components;
@tailwind utilities;

.homebannerslider .slick-prev,.homebannerslider .slick-next  {
    z-index: 999;
}
.homebannerslider .slick-prev:before, .homebannerslider .slick-next:before{
    color: #81c408;
    font-size: 50px;
}   
.homebannerslider .slick-prev {
    left: 0;
}
.homebannerslider .slick-next {
    right: 25px;
}